#-----------------------------------------------------------------#
# Database.
#-----------------------------------------------------------------#

# Local
#DATABASE_URL=''
DATABASE_URL_HEROKU=''

# Development
#DATABASE_URL_HEROKU=''
#DATABASE_URL=''

#-----------------------------------------------------------------#
# Auth0.
#-----------------------------------------------------------------#

# Authentication
AUTH0_DOMAIN=''
API_AUDIENCE=''
ALGORITHMS=''

