#-----------------------------------------------------------------#
# Database.
#-----------------------------------------------------------------#

# Local
#DATABASE_URL=postgresql://postgres:postgres@localhost:5432/postgres
DATABASE_URL_HEROKU=postgresql://postgres:postgres@localhost:5432/postgres

# Development
#DATABASE_URL_HEROKU=postgresql://qgugyvjrsgdpvo:9dffa6c57153d67dcc5198a18ddd707cd9a6a98d4673be70987efb221537f646@ec2-54-91-188-254.compute-1.amazonaws.com:5432/d87nrlo13eegkf
#DATABASE_URL=postgresql://qgugyvjrsgdpvo:9dffa6c57153d67dcc5198a18ddd707cd9a6a98d4673be70987efb221537f646@ec2-54-91-188-254.compute-1.amazonaws.com:5432/d87nrlo13eegkf


#-----------------------------------------------------------------#
# Auth0.
#-----------------------------------------------------------------#

# Authentication
AUTH0_DOMAIN=silve1ra.us.auth0.com
API_AUDIENCE=casting-agency
ALGORITHMS=RS256

# Authorization
